#carouselExampleIndicators{
   height: 100vh;
   img{
     height: 100vh;
   }
}

.my_nav-links{
  .logoContainer{
    display:none;
  }
}

.owl-item{
    margin:0 !important;
    img{
        height: 350px;
    }
}
.owl-nav{
    display:none;
}
.owl-dots{
    display:none;
}

@media screen and (max-width:768px){
    #carouselExampleIndicators{
    height: 95vh;
    img{
        height: 95vh;
        }
    }
    .my_nav-links{
        .logoContainer{
            display:block;
        }
    } 
}