.globContainer{
    nav{
        background-color: white;
        li{
            a{
                color:black
            }
        }
    }
}

nav{
display: flex;
padding:0.7rem;
    justify-content: space-between;
    align-items: center;
    min-height: 8vh;
    font-family: 'Poppins', sans-serif;
    background-color: transparent;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 999;
    font-size: 11px;
    font-style: normal;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 2px;
    
    .logo{
    color:white;
    text-transform:uppercase;
    letter-spacing: 5px;
    font-size: 20px;;
    }
    .my_nav-links{
        display:flex;
        justify-content: space-around;
        width: 35%;
        li{
            list-style-type: none;
            
        }
        a{
            text-decoration: none;
            color:#e8e8e8;
            font-weight: bold;
            letter-spacing: 3px;
            font-size: 14px;
            &:hover{
                color:white ;
            }
        }

        .logoContainer{
            img{
                width: 80%;
            }
        }
    }

    .myBurger{
    display:none;
        div{
        width:25px;
        height:3px;
        background-color:white; 
        margin:5px;
        transition : all 0.3s ease;
        }
    }

    
}

@media screen and (max-width:1300px){
    nav{

        .my_nav-links{
            width: 50% ;
        }
    }
}


@media screen and (max-width:1024px){
    nav{

        .my_nav-links{
            width: 60% ;
        }
    }
}

@media screen and (max-width:768px){
    
    body{
        overflow-x: hidden;
    }
    nav{
        .nav-active{
            transform:translateX(100%) !important;
        }
        .my_nav-links{
            position:fixed;
            width: 70%;
            left: -70%;
            height:100vh;
            top:0;
            background:#262626;
            
            flex-direction: column;
            justify-content: flex-start ;
            transform:translateX(0%);
            transition:transform 0.5s ease-in;
            
            li{
                opacity:0;
                /* margin-left:10px; */
                margin-bottom: 20px;
                width:100%;
                padding:20px;
                &:hover{
                    background-color: #3b3a3a;
                }
            }
            .dropped{
                .suiteDrop{

                    a{
                        color:#8b8484 !important;
                        &:hover{
                            color:#e8e8e8 !important;
                            cursor: pointer;
                        }
                    }
                }
            }
            a{
                color:white !important;
            }
            
        }
        .myBurger{
                display:block;
                cursor:pointer;
            }

            .toggle .line1{
               transform : rotate(-45deg)  translate(-5px,6px)
            }
            .toggle .line2{
                opacity:0;
            }
            .toggle .line3{
                transform : rotate(45deg )translate(-5px,-6px) 
            }
    }

    .suiteDropNone{
                    display:none;
                }
     
}

@keyframes navLinkFade{
    from{
        opacity:0;
        transform:translateX(50px);
    }
    to{
        opacity:1 ;
        transform:translateX(0px)
    }
}






