.myRow{
  width:90%;
}
.flip-card {
  margin-top: 10vh;
  background-color: transparent;
  width: 100%;
  height: 550px;
  perspective: 2000px;
  &:hover{
    .flip-card-inner{

      transform: rotateY(180deg);
    }
  }
    .flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.6s;
    transform-style: preserve-3d;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  }
  .flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}
.flip-card-front {
  background-color: #bbb;
  color: black;
}
.flip-card-back {
  background-color: #046988;
  color: white;
  transform: rotateY(180deg);
}
}

section.suiteSec{
 #carouselExampleIndicators{
   height: 80vh;
   img{
     height: 80vh;
   }
   
   .nomeStanza{
     display:flex;
     position:absolute;
     height:20px ;
     background-color : rgb(114, 96, 78);
     border-radius:5px;
     color:#e8e8e8;
     bottom : -20px;
     z-index: 20;
     padding:40px;
     left:30px;
     justify-content: center;
     align-items: center;
     box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
     text-transform: uppercase;
     letter-spacing: 1px;
     font-family: 'Lora', serif;
   }
   .nord-ovest{
    background-color: #046988;
   }
  }
  .services{
    font-family: 'Lora', serif;
    img{
      width: 20px;
      margin-right: 5px;
      
    }
    li{
      display:flex;
      margin:3px;
      align-items: center;
    }
  }
}
.owl-theme{
  .owl-dots{
    .owl-dot{
      span{
         display:none;
        }
      }
    }
  }

@media screen and (max-width:768px){
    .myRow{
      width:100%;}
}







