@import 'navbar';
@import 'home';
@import 'intorno-a-noi';
@import 'suite';
@import 'contatti';
@import 'social';

*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}

img{
  width: 100%;
}

.noGutter{
  padding:0;
  margin:0;
}

.debug{
  border:1px solid grey;
}

#welcome{
  position:absolute;
  color:#e8e8e8;
  top : 50%;
  left:50%;
  transform: translate(-50%,-50%);
  z-index : 10;
  h1{
    font-family: 'Lora', serif;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 900;
    font-size: 3rem;
  }
  h3{
    font-family: 'Asap', sans-serif;;
  }
}


.myScrollOnTop{
    display: flex;
    align-items: center;
    justify-content: center;
    background: #e8e8e8;
    font-size: 20px;
    color: #28262b;
    padding: 10px;
    width: 40px;
    border-radius: 3px;
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 999;
    transition: all 0.5s ease;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.15);
    &:hover{
      background: #28262b;
      color:#e8e8e8;
      cursor: pointer;
    }
}

footer{
  background-color:#242424;
  color:#e8e8e8;
}



.logoContainer,.logoFooter{
  width:250px;
}


 .stop-scrolling {
  height: 100%;
  overflow: hidden;
} 

@media screen and (max-width:768px){

  .my_drop-menu{
    top: 150%;
    width: 70vw;
    li{
      background-color:#e8e8e8;
      padding: 12px;
    }
  }

}


@keyframes menu {
  0% {
    opacity: 0;
    transform: rotateZ(90deg);
  }
  70% {
    transform: skewX(10deg);
  }
  100% {
    opacity: 1;
    transform: rotateZ(0deg);
  }
}
